image: ghcr.io/cirruslabs/flutter:stable

definitions:
  caches:
    flutter: ~/.pub-cache 

pipelines:
  branches:
    develop:
      - step:
          name: Install Dependencies & Analyze
          caches:
            - flutter
          script:
            - flutter --version
            - flutter pub get
            - flutter analyze
            # - flutter test

      - step:
          name: Build APK (Staging)
          caches:
            - flutter
          script:
            - export GRADLE_OPTS="-Dorg.gradle.daemon=false"
            - flutter build apk --debug --flavor staging -t lib/main_development.dart

    master:
      - step:
          name: Install Dependencies & Analyze
          caches:
            - flutter
          script:
            - flutter pub get
            - flutter analyze
            # - flutter test

      - step:
          name: Build APK (Production)
          caches:
            - flutter
          script:
            - export GRADLE_OPTS="-Dorg.gradle.daemon=false"
            - flutter build apk --release --flavor production -t lib/main_production.dart
