image: cirrusci/flutter:3.13.0

definitions:
  caches:
    flutter: ~/.pub-cache 

pipelines:
  branches:
    develop:
      - step:
          name: Install Dependencies & Analyze
          caches:
            - flutter
          script:
            - flutter --version
            - flutter pub get
            - flutter analyze
            # - flutter test

      - step:
          name: Build APK (Staging)
          caches:
            - flutter
          script:
            - flutter build apk --debug --flavor staging -t lib/main_staging.dart

    master:
      - step:
          name: Install Dependencies & Analyze
          caches:
            - flutter
          script:
            - flutter pub get
            - flutter analyze
            # - flutter test

      - step:
          name: Build APK (Production)
          caches:
            - flutter
          script:
            - flutter build apk --release --flavor production -t lib/main_production.dart
